@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

.app-intro{
    margin-top: 12em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 10em;
}

.left-description{
    width: 100%;
    height: auto;

    h4{
        font-size: 2.2rem;
        margin: 0 !important;
        font-weight: 400;
        color: #444;
    }

    ol{
        list-style-type: square;
    }

    p{
        font-size: 0.9rem;
        font-family: 'Inter';
        line-height: 1.5;
    }

    p span{
        font-size: 0.9rem;
        font-weight: 600;
        color: #444;
    }

}

.right-app{
    img{
        margin-top: 3em;
        width: 70%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 530px){
    .right-app img{
        width: 50%;
    }
}

@media screen and (min-width: 670px){
    .right-app img{
        width: 40%;
    }
}

@media screen and (min-width: 925px){

    .app-intro{
        display: flex;
    }
    
.left-description{
    width: 50%;
    height: auto;

    h3{
        font-size: 2.2rem;
        margin: 0 !important;
        color: #56AA66;
    }

}
.right-app{
    width: 50%;
    height: auto;

    img{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
}

@media only screen and (min-width: 1190px) {
    .app-intro{
        max-width: 1190px;
        margin-left: auto;
        margin-right: auto;
    }
}